<html>
    <meta charset="UTF-8">
    <body>
        <center>
            <h1>Jangam, Swapnil Surendra</h1>
            <h3>1001550608</h3>
        </center>
        <table>
            <th>
                <td>Mag</td>
                <td>range1</td>
                <td>range2</td>
            </th>
            {% for item in result %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>